<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminProduits') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('adminCategories') }}">Catégories produits</a>
            </li>

            <li>
                <a href="{{ path('adminClient') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('fos_user_registration_register') }}">Ajouter Commercial</a>
            </li>




        </ul>
    </div>
<<<<<<< HEAD



=======
>>>>>>> cd2125b1d6f193f546347a7f0d8cd3bab9ddeae5

</div>