{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Ajouter Photo Client</h1>

    <form action="{{ path('adminPhotoClient_create') }}" method="POST" {{ form_enctype(form) }}>
        {{ form(form) }}
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('adminPhotoClient') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}