
{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Categories</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>

        </tr>
        <tr>
            <th>Nom Commercial</th>
            <td>{{ entity.utilisateurs.username }}</td>

        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('adminPhotoClient') }}">
                Back to the list
            </a>
        </li>

    </ul>
{% endblock %}